<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../homepage/partials/head') %>
    <title>Commands</title>
</head>

<body>
    <%- include('../homepage/partials/header', {page: 'commands'}) %>
    <div id="commands" class="commands">
        <div class="box box--centered">
            <div class="box__heading commands-box__heading">Commands</div>
            <div class="box__content">
                <div class="commands-box">
                    <div class="commands-box__categories">
                        <a href="#" class="commands-box__nav" id="pickup-nav">Pickup</a>
                        <a href="#" class="commands-box__nav" id="info-nav">Info</a>
                        <a href="#" class="commands-box__nav" id="admin-nav">Admin</a>
                    </div>
                    <div class="commands-box__content">
                        <div class="commands-box__list" id="command-list">
                            <% commands.forEach((group, index) => { %>
                            <div id="<%- group[0].category %>" class="hidden">
                                <% group.forEach((command, indexCommand) => { %>
                                <a href="#<%- command.cmd %>" id="<%- `${command.cmd}-link` %>"><%= command.cmd %></a>
                                <% }); %>
                            </div>
                            <% }); %>

                        </div>
                        <div class="commands-box__command" id="command-box">
                            <% commands.forEach((group, index) => { 
                                group.forEach((command, indexCommand) => {
                                    const name = command.cmd;
                                    const description = command.desc;
                                    const aliases = command.aliases ? command.aliases.join(' ') : 'None';
                                    let usage = `!${command.cmd} `;
    
                                    if (command.args) {
                                        command.args.forEach(arg => usage += `${arg.name} `);
                                    }
                            %>
                            <div class="command hidden" id="<%- `${command.cmd}-content` %>">

                                <div class="command__title"><%- name %></div>
                                <div class="command__content">
                                    <div class="command__content__properties">
                                        <p>Description</p>
                                        <p>Aliases</p>
                                        <p>Usage</p>
                                        <% if (command.args) { 
                                                command.args.forEach(arg => {    
                                            %>
                                        <p><%= arg.name %></p>
                                        <% })} %>
                                    </div>
                                    <div class="command__content__values">
                                        <p><%= description %></p>
                                        <p><%= aliases %></p>
                                        <p><%= usage %></p>
                                        <% if (command.args) { 
                                                command.args.forEach(arg => { 
                                                    let desc;
                                                    switch (arg.desc) {
                                                        case 'ping':
                                                            desc = 'User supplied as ping or user id';
                                                            break;
                                                        case 'time':
                                                            desc = 'Time given as 1m 2h 3d 4w - minutes, hours, days, weeks';
                                                            break;
                                                        case 'time-short':
                                                            desc = 'Time given as 1m 2h 3d - minutes, hours, days';
                                                            break;
                                                        default:
                                                            desc = arg.desc;
                                                    }
                                            %>
                                        <p><%= desc %></p>
                                        <% })} %>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>