<header class="header">
    <div class="header__content">
        <div class="header__heading">
            <div class="theme-switcher" id="theme-switch">
                <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                    <use xlink:href="./www/homepage/img/sprite.svg#icon-lightbulb"></use>
                </svg>
            </div>
            <h1><a href=".">PickupBot</a></h1>
        </div>
        <nav class="nav">
            <ul class="nav__nav">
                <li class="nav__point<%- page == 'home' ? ' active active--underline' : '' %>"><a href="./">
                        <div id="home-nav">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-home"></use>
                            </svg>
                            <div>Home</div>
                        </div>
                    </a></li>
                <li class="nav__point<%- page == 'stats' ? ' active active--underline' : '' %>"><a href="./stats">
                        <div id="stats-nav">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-stats"></use>
                            </svg>
                            <div>Stats</div>
                        </div>
                    </a></li>
                <li class="nav__point<%- page == 'commands' ? ' active active--underline' : '' %>"><a href="./commands">
                        <div id="commands-nav">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-commands"></use>
                            </svg>
                            <div>Commands</div>
                        </div>
                    </a></li>
                <li class="nav__point<%- page == 'help' ? ' active active--underline' : '' %>"><a href="./help">
                        <div id="help-nav">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-help"></use>
                            </svg>
                            <div>Help</div>
                        </div>
                    </a></li>
                <li class="nav__point<%- page == 'login' ? ' active active--underline' : '' %>"><a href="./login">
                        <div id="login-nav">
                            <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
                                <use xlink:href="./www/homepage/img/sprite.svg#icon-login"></use>
                            </svg>
                            <div>Login</div>
                        </div>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>